Repository TrainLCD/RouteBuilder, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, nextjs

カスタム種別対応
  app/constants/index.ts
  app/constants/trainType.ts
  app/hooks/usePublishRoute.ts
  app/page.tsx
Labels: nextjs

支線対応一部撤廃、バグ修正、UX改善
  __tests__/utils/group.test.ts
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
  app/utils/group.ts
  app/utils/index.ts
Labels: nextjs

getStationsByLineId名前変更とテスト修正
  __tests__/hooks/useStationQuery.test.ts
  __tests__/utils/group.test.ts
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
Labels: nextjs

npx eslint . -> npm run lint
  .github/workflows/lint.yml
Labels: ci/cd

CI設定とドキュメントの更新
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Epic.md
  .github/ISSUE_TEMPLATE/Request.md
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/label_issues.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test.yml
Labels: ci/cd

カスタム種別以外でルートを保存できないバグを修正
  app/page.tsx
Labels: nextjs

一定条件で駅を追加できなくなるバグを修正
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
Labels: nextjs

Mark the app as Beta
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/components/App.tsx
Labels: none

Drop stale "approximated route" caveat from the Export panel
  apps/web/components/ExportPanel.tsx
Labels: none

Keep .btn labels on one line in tight flex rows
  apps/web/app/globals.css
Labels: none

Add short-URL deep links backed by Vercel KV
  apps/web/.env.example
  apps/web/app/api/routes/[id]/route.ts
  apps/web/app/api/routes/route.ts
  apps/web/components/ExportPanel.tsx
  apps/web/lib/deeplink.ts
  apps/web/lib/server/route-shortener.ts
  apps/web/package.json
  package-lock.json
Labels: none

Gate short-URL export behind an opt-in checkbox
  apps/web/components/ExportPanel.tsx
Labels: none

Drop upstream URLs from documentation
  README.md
Labels: none

Turn the app into an installable PWA with an update prompt
  apps/web/.gitignore
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/manifest.ts
  apps/web/app/sw.ts
  apps/web/components/PwaUpdater.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  package-lock.json
Labels: none

Cache BFF responses in the service worker for offline route display
  apps/web/app/sw.ts
Labels: none

Lock the viewport so pinch-zoom doesn't resize the app on mobile
  apps/web/app/layout.tsx
Labels: none

Stop the Export panel from overflowing on narrow phones
  apps/web/app/globals.css
Labels: none

Hide the Export panel behind a skeleton until everything is ready
  apps/web/app/globals.css
  apps/web/components/ExportPanel.tsx
Labels: none

Widen the PWA update toast so the message fits on one line
  apps/web/app/globals.css
Labels: none

Skeleton route cards on the My Routes screen too
  apps/web/components/ExportPanel.tsx
  apps/web/components/MyRoutes.tsx
  apps/web/lib/route-utils.ts
Labels: none

Pin every upstream query to transportType: Rail
  apps/web/lib/server/trainlcd.ts
Labels: none

Make the PWA update button actually reach the SW
  apps/web/app/globals.css
  apps/web/components/PwaUpdater.tsx
Labels: none

Stop the PWA update toast from re-appearing in a loop after Update
  apps/web/components/PwaUpdater.tsx
Labels: none

Stop the route-name input from blurring on every keystroke
  apps/web/components/App.tsx
Labels: none

Add Fussa–Fusa sample route to the fixture
  apps/web/lib/data/sample-routes.ts
Labels: none

Drop the Yamanote/Chuo/Ginza sample routes from the fixture
  apps/web/lib/data/sample-routes.ts
Labels: none

Flip the chevron icon to point left
  apps/web/components/ui/Icon.tsx
Labels: none

Per-stop 通過 / 停車 toggle for each route stop
  apps/web/app/api/routes/[id]/route.ts
  apps/web/app/api/routes/route.ts
  apps/web/app/globals.css
  apps/web/components/App.tsx
  apps/web/components/Builder.tsx
  apps/web/components/ui/Icon.tsx
  apps/web/lib/data/route.ts
  apps/web/lib/deeplink.ts
  apps/web/lib/server/route-shortener.ts
Labels: none

Let the user pick the route's accent color
  apps/web/app/globals.css
  apps/web/components/App.tsx
  apps/web/components/MyRoutes.tsx
  apps/web/components/RouteColorPicker.tsx
Labels: none

Send route name + color as a custom train type in deep links
  apps/web/app/api/routes/route.ts
  apps/web/components/ExportPanel.tsx
  apps/web/lib/deeplink.ts
  apps/web/lib/server/route-shortener.ts
Labels: none

Send a placeholder nameRoman with the train-type payload
  apps/web/lib/deeplink.ts
  apps/web/lib/server/route-shortener.ts
Labels: none

Default the canary checkbox to on
  apps/web/components/ExportPanel.tsx
Labels: none

Drop the underline from anchor-styled buttons
  apps/web/app/globals.css
Labels: none

Hide the AI feature buttons until the feature actually exists
  apps/web/app/globals.css
  apps/web/components/App.tsx
Labels: none

Add a persistent canary-tester notice across the app
  apps/web/app/globals.css
  apps/web/components/App.tsx
Labels: none

Link to the GitHub repo from the Tweaks panel
  apps/web/components/App.tsx
Labels: none

Reword "エクスポート" to "アプリを開く"
  apps/web/components/App.tsx
Labels: none

Let the user switch a line section to another line
  apps/web/app/globals.css
  apps/web/components/Builder.tsx
  apps/web/lib/data/index.ts
  apps/web/lib/data/routing.ts
  apps/web/lib/route-utils.ts
Labels: none

.github/labeler.yml:

ci/cd:
  - .github/*
  - .github/**/*
nextjs:
  - app/*
  - app/**/*
