Repository TrainLCD/RouteBuilder, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, nextjs

sarifはプライベートリポジトリでは使えない
  .github/workflows/lint.yml
  package.json
Labels: ci/cd

ざっくりプロトタイプ(スタブ使用)
  .github/workflows/test.yml
  __mocks__/fileMock.ts
  __mocks__/styleMock.ts
  __tests__/hooks/useStationQuery.test.ts
  app/constants/index.ts
  app/constants/province.ts
  app/constants/stubDB.ts
  app/hooks/index.ts
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/layout.tsx
  app/page.tsx
  jest.config.js
  package-lock.json
  package.json
Labels: ci/cd, nextjs

postinstall generate
  package.json
Labels: none

method="POST"いらない
  app/page.tsx
Labels: nextjs

vercel
  package-lock.json
  package.json
  scripts/prepare-vercel.sh
  vercel.json
Labels: none

preventDefault()わすれ
  app/page.tsx
Labels: nextjs

選択のバグ修正
  app/hooks/useMakeCustomRoute.ts
  app/page.tsx
Labels: nextjs

使う予定のないスタブデータの削除
  app/constants/stubDB.ts
Labels: nextjs

API疎通
  .env
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
  package-lock.json
  package.json
Labels: nextjs

レイアウトと直通の方式を修正
  app/hooks/useMakeCustomRoute.ts
  app/page.tsx
Labels: nextjs

レイアウトとデザインの修正、UX改善
  app/globals.css
  app/page.tsx
Labels: nextjs

p-4
  app/page.tsx
Labels: nextjs

通過->通過指定
  app/page.tsx
Labels: nextjs

路線名はnameShortに統一
  app/page.tsx
Labels: nextjs

すごい色々変えた
  app/constants/api.ts
  app/constants/index.ts
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
Labels: nextjs

別に途中からアプリに使用できるデータにしても問題ないはず
  app/page.tsx
Labels: nextjs

warning対処
  app/page.tsx
Labels: nextjs

レイアウトと文言を修正、停車条件対応
  app/constants/index.ts
  app/constants/stopCondition.ts
  app/page.tsx
Labels: nextjs

レイアウト微調整
  app/page.tsx
Labels: nextjs

w-fit
  app/page.tsx
Labels: nextjs

ボタン近すぎ罪
  app/page.tsx
Labels: nextjs

通過指定のフロント側ロジック追加
  app/hooks/useMakeCustomRoute.ts
  app/page.tsx
Labels: nextjs

Firestoreに保存できるようにざっくりと
  .env
  app/constants/errorCode.ts
  app/constants/index.ts
  app/hooks/index.ts
  app/hooks/useAnonymousAuth.ts
  app/hooks/usePublishRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
  app/vendor/firebase.ts
  app/vendor/index.tsx
  package-lock.json
  package.json
Labels: nextjs

#日本人やめよう
  app/page.tsx
Labels: nextjs

コレクション名改名
  app/constants/firestore.ts
  app/constants/index.ts
  app/hooks/usePublishRoute.ts
Labels: nextjs

人の話を聞け
  app/page.tsx
Labels: nextjs

プレビューを反転させて最後の駅をわかりやすくした
  app/page.tsx
Labels: nextjs

アホ
  app/page.tsx
Labels: nextjs

CODEOWNERS
  CODEOWNERS
Labels: none

Initial commit from Create Next App
  .eslintrc.json
  .gitignore
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/next.svg
  public/vercel.svg
  tailwind.config.ts
  tsconfig.json
Labels: nextjs

createdAt追加
  app/hooks/usePublishRoute.ts
Labels: nextjs

ルート定義にvisibility追加
  app/constants/route.ts
  app/hooks/usePublishRoute.ts
Labels: nextjs

route.tsがnext.jsと競合してた
  app/constants/customRoute.ts
  app/constants/index.ts
  app/hooks/usePublishRoute.ts
Labels: nextjs

通過指定一括設定
  app/page.tsx
Labels: nextjs

支線対応
  app/hooks/useMakeCustomRoute.ts
  app/hooks/useStationQuery.ts
  app/page.tsx
Labels: nextjs

PREFECTURES_ROMAN削除
  app/constants/index.ts
  app/constants/province.ts
Labels: nextjs

種別選択
  app/constants/index.ts
  app/constants/trainType.ts
  app/hooks/usePublishRoute.ts
  app/page.tsx
Labels: nextjs

種別対応
  app/constants/index.ts
  app/constants/trainType.ts
  app/hooks/usePublishRoute.ts
  app/page.tsx
Labels: nextjs

一旦全テスト通過確認
  __mocks__/nanoid.ts
  __tests__/hooks/useStationQuery.test.ts
Labels: none

sarif
  .github/workflows/lint.yml
  package-lock.json
  package.json
Labels: ci/cd

.github/labeler.yml:

ci/cd:
  - .github/*
  - .github/**/*
nextjs:
  - app/*
  - app/**/*
